gunicorn==19.9.0
cloudant==2.4.0
cloudpickle==0.5.5
Flask==0.12.2
Jinja2==2.10
matplotlib==2.2.3
nltk==3.3
numpy==1.15.1
numpydoc==0.8.0
pandas==0.23.4
requests==2.20.1
semantic-version==2.5.0
ssh==1.8.0
virtualenv==16.4.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
xlrd==1.1.0
textblob